[user]
  name = Felix Dulfer
  email = felix@dulfer.me
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[pull]
  rebase = false
[push]
  default = simple
[color]
  ui = auto
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  lg = log --oneline --graph --decorate --all
[init]
  defaultBranch = main